FavelleVaultJobs/Service References/axFavelleBOM/V2AX_BOMListServiceGroup86.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://58.26.118.134:8102/DynamicsAx/Services/V2AX_BOMListServiceGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="V2AX_BOMListServicesGetCompListRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_BOMListServicesGetCompListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfV2AX_ItemListDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_BOMListServicesCreateBOMHeaderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="bOMContract" nillable="true" type="q2:V2AX_BOMHeaderDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_BOMListServicesCreateBOMHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>