FavelleVaultAXws/FavelleVaultAXws/Service References/axItemService/V2AX_ItemListServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="V2AX_ItemListServiceGroup" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_V2AX_ItemListServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://tempuri.org" location="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_V2AX_ItemListServices" type="i0:V2AX_ItemListServices">
    <wsp:PolicyReference URI="#NetTcpBinding_V2AX_ItemListServices_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="updateItemExportStatus">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/updateItemExportStatus" style="document" />
      <wsdl:input name="V2AX_ItemListServicesUpdateItemExportStatusRequest">
        <soap12:header message="i0:V2AX_ItemListServicesUpdateItemExportStatusRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesUpdateItemExportStatusResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemList">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/getItemList" style="document" />
      <wsdl:input name="V2AX_ItemListServicesGetItemListRequest">
        <soap12:header message="i0:V2AX_ItemListServicesGetItemListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesGetItemListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/CreateItem" style="document" />
      <wsdl:input name="V2AX_ItemListServicesCreateItemRequest">
        <soap12:header message="i0:V2AX_ItemListServicesCreateItemRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesCreateItemResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCompList">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/getCompList" style="document" />
      <wsdl:input name="V2AX_ItemListServicesGetCompListRequest">
        <soap12:header message="i0:V2AX_ItemListServicesGetCompListRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesGetCompListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemExists">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/itemExists" style="document" />
      <wsdl:input name="V2AX_ItemListServicesItemExistsRequest">
        <soap12:header message="i0:V2AX_ItemListServicesItemExistsRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesItemExistsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyItem">
      <soap12:operation soapAction="http://tempuri.org/V2AX_ItemListServices/modifyItem" style="document" />
      <wsdl:input name="V2AX_ItemListServicesModifyItemRequest">
        <soap12:header message="i0:V2AX_ItemListServicesModifyItemRequest_Headers" part="context" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="V2AX_ItemListServicesModifyItemResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap12:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="V2AX_ItemListServiceGroup">
    <wsdl:port name="NetTcpBinding_V2AX_ItemListServices" binding="tns:NetTcpBinding_V2AX_ItemListServices">
      <soap12:address location="net.tcp://ffcmobj01:8202/DynamicsAx/Services/V2AX_ItemListServiceGroup" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ffcmobj01:8202/DynamicsAx/Services/V2AX_ItemListServiceGroup</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>administrator@favellefavco.com.my</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>