FavelleVaultAXws/FavelleVaultAXws/Service References/axItemService/V2AX_ItemListServiceGroup5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="V2AX_ItemListDataContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChargesCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IntegrationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ItemGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PcsControlled" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="V2AX_ItemListDataContract" nillable="true" type="tns:V2AX_ItemListDataContract" />
  <xs:complexType name="ArrayOfV2AX_ItemListDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V2AX_ItemListDataContract" nillable="true" type="tns:V2AX_ItemListDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV2AX_ItemListDataContract" nillable="true" type="tns:ArrayOfV2AX_ItemListDataContract" />
</xs:schema>