FavelleVaultAXws/FavelleVaultAXws/Service References/axItemService/V2AX_ItemListServiceGroup4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="V2AX_ItemListServicesUpdateItemExportStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="integrationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesUpdateItemExportStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesGetItemListRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesGetItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfV2AX_ItemListDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesCreateItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="v2AX_ItemListContract" nillable="true" type="q2:V2AX_ItemListDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesCreateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesGetCompListRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesGetCompListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfV2AX_ItemListDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesItemExistsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesItemExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesModifyItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="v2AX_ItemListContract" nillable="true" type="q4:V2AX_ItemListDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V2AX_ItemListServicesModifyItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>