FavelleVaultAXws/FavelleVaultAXws/Service References/axItemService/V2AX_ItemListServiceGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ffcmobj01:8102/DynamicsAx/Services/V2AX_ItemListServiceGroup?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="V2AX_ItemListServicesUpdateItemExportStatusRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesUpdateItemExportStatusRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesUpdateItemExportStatusRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesUpdateItemExportStatusResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesUpdateItemExportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_updateItemExportStatus_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetItemListRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesGetItemListRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetItemListRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetItemListResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesGetItemListResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_getItemList_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesCreateItemRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesCreateItemRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesCreateItemRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesCreateItemResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesCreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_CreateItem_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetCompListRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesGetCompListRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetCompListRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesGetCompListResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesGetCompListResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_getCompList_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesItemExistsRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesItemExistsRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesItemExistsRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesItemExistsResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesItemExistsResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_itemExists_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesModifyItemRequest">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesModifyItemRequest" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesModifyItemRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServicesModifyItemResponse">
    <wsdl:part name="parameters" element="tns:V2AX_ItemListServicesModifyItemResponse" />
  </wsdl:message>
  <wsdl:message name="V2AX_ItemListServices_modifyItem_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:portType name="V2AX_ItemListServices">
    <wsdl:operation name="updateItemExportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/updateItemExportStatus" name="V2AX_ItemListServicesUpdateItemExportStatusRequest" message="tns:V2AX_ItemListServicesUpdateItemExportStatusRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/updateItemExportStatusResponse" name="V2AX_ItemListServicesUpdateItemExportStatusResponse" message="tns:V2AX_ItemListServicesUpdateItemExportStatusResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/updateItemExportStatusAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_updateItemExportStatus_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItemList">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getItemList" name="V2AX_ItemListServicesGetItemListRequest" message="tns:V2AX_ItemListServicesGetItemListRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getItemListResponse" name="V2AX_ItemListServicesGetItemListResponse" message="tns:V2AX_ItemListServicesGetItemListResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getItemListAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_getItemList_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/CreateItem" name="V2AX_ItemListServicesCreateItemRequest" message="tns:V2AX_ItemListServicesCreateItemRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/CreateItemResponse" name="V2AX_ItemListServicesCreateItemResponse" message="tns:V2AX_ItemListServicesCreateItemResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/CreateItemAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_CreateItem_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompList">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getCompList" name="V2AX_ItemListServicesGetCompListRequest" message="tns:V2AX_ItemListServicesGetCompListRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getCompListResponse" name="V2AX_ItemListServicesGetCompListResponse" message="tns:V2AX_ItemListServicesGetCompListResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/getCompListAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_getCompList_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="itemExists">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/itemExists" name="V2AX_ItemListServicesItemExistsRequest" message="tns:V2AX_ItemListServicesItemExistsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/itemExistsResponse" name="V2AX_ItemListServicesItemExistsResponse" message="tns:V2AX_ItemListServicesItemExistsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/itemExistsAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_itemExists_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyItem">
      <wsdl:input wsaw:Action="http://tempuri.org/V2AX_ItemListServices/modifyItem" name="V2AX_ItemListServicesModifyItemRequest" message="tns:V2AX_ItemListServicesModifyItemRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/V2AX_ItemListServices/modifyItemResponse" name="V2AX_ItemListServicesModifyItemResponse" message="tns:V2AX_ItemListServicesModifyItemResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/V2AX_ItemListServices/modifyItemAifFaultFault" name="AifFaultFault" message="tns:V2AX_ItemListServices_modifyItem_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>